
.colors { 
    color: #E56F2B; /* Main color* /
    color: #E5DEC7; /* Second color */
    color: #DB493C; /* highlight color */
    color: #AB5321; /* Dark main color */

    color: #1E1E1E; /* Dark color */
    color: #01111a; /* Dark color */

}